<div class="card text-center cardEvent">
    <div class="card-header">
        <%=friendsEvents[event].agesRange %> -
            <%= friendsEvents[event].level %>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <%= friendsEvents[event].name %>
        </h5>
        <p class="card-text">The event is in
            <%= friendsEvents[event].location %> on
                <%= events[event].dateOfEvent %>
        </p>
        <p class="card-text">Min number of participants is
            <%=friendsEvents[event].minNumOfParticipants%> and max number of participants is
                <%= friendsEvents[event].maxNumOfParticipants%>
        </p>
        <a href="/events/<%= friendsEvents[event]._id %>" class="btn btn-primary">Go to event</a>
    </div>
    <div class="card-footer text-muted">
        From 
        <%= friendsEvents[event].timeOfActivity.startTime %>
        to 
        <%= friendsEvents[event].timeOfActivity.endTime %>
    </div>
</div>
