<div class="card text-center cardEvent">
    <div class="card-header">
        <%=friendsGroups[group].type %> -
            <%= friendsGroups[group].level %>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <%= friendsGroups[group].name %>
        </h5>
        <p class="card-text">The event is in
            <%= friendsGroups[group].location %> on
                <%= friendsGroups[group].dayOfActivity %>
        </p>
        <p class="card-text">Min number of participants is
            <%=friendsGroups[group].minParticipants%> and max number of participants is
                <%= friendsGroups[group].maxParticipants%>
        </p>
        <form action="/groups/<%= friendsGroups[group]._id %>?_method=DELETE" method="POST" class="dis-inline">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <a href="/groups/<%= friendsGroups[group]._id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/groups/<%= friendsGroups[group]._id %>" class="btn btn-primary">Go to group</a>
    </div>
    <div class="card-footer text-muted">
        At:
        <%= friendsGroups[group].timeOfActivity %>
    </div>
</div>
