<!--<div class="card text-center cardEvent">-->
<!--    <div class="card-header">-->
<!--        <%=groups[group].type %> --->
<!--            <%= groups[group].level %>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">-->
<!--            <%= groups[group].name %>-->
<!--        </h5>-->
<!--        <p class="card-text">The event is in-->
<!--            <%= groups[group].location %> on-->
<!--                <%= groups[group].dayOfActivity %>-->
<!--        </p>-->
<!--        <p class="card-text">Min number of participants is-->
<!--            <%=groups[group].minParticipants%> and max number of participants is-->
<!--                <%= groups[group].maxParticipants%>-->
<!--        </p>-->
<!--        <a href="/groups/<%= groups[group]._id %>" class="btn btn-primary">Go to group</a>-->
<!--    </div>-->
<!--    <div class="card-footer text-muted">-->
<!--        At:-->
<!--        <%= groups[group].timeOfActivity %>-->
<!--    </div>-->
<!--</div>-->

<a href="/groups/<%= group._id %>" class="text-no-dec">
	<div class="bottom-card">
		<label><h3> Group: <%= groups[group].name %> </h3></label>
		<div class="row bottom-card-info">
			<div class="col-sm-6">
				<p>Sport type: <%= groups[group].sportType || groups[group].type %></p>
				<p>Level: <%= groups[group].level %></p>
				<p>Participants required: <%= groups[group].minParticipants %> - <%= group.maxParticipants%></p>
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>
	</div>
</a>