<div class="card text-center cardEvent">
    <div class="card-header">
        <%=groups[group].type %> -
            <%= groups[group].level %>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <%= groups[group].name %>
        </h5>
        <p class="card-text">The event is in
            <%= groups[group].location %> on
                <%= groups[group].dayOfActivity %>
        </p>
        <p class="card-text">Min number of participants is
            <%=groups[group].minParticipants%> and max number of participants is
                <%= groups[group].maxParticipants%>
        </p>
        <form action="/groups/<%= groups[group]._id %>?_method=DELETE" method="POST" class="dis-inline">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <a href="/groups/<%= groups[group]._id %>/edit" class="btn btn-warning">Edit</a>
        <a href="#" class="btn btn-primary">Go to event</a>
    </div>
    <div class="card-footer text-muted">
        At:
        <%= groups[group].timeOfActivity %>
    </div>
</div>
