<a href="/events/<%= event._id %>" class="text-no-dec"><div class="bottom-card">
	<label><h3> Event: <%= event.name %> </h3></label>
	<div class="row bottom-card-info">
		<div class="col-sm-6">
			<p>Sport Type: <%= event.sportType %></p>
			<p>Level: <%= event.level %></p>
			<p>Participants required: <%=event.minNumOfParticipants%> - <%= event.maxNumOfParticipants%></p>
			<p>Date: <%= event.dateOfEvent %></p>
			<p>Time: <%= event.timeOfActivity.startTime %> - <%= event.timeOfActivity.endTime %></p>
		</div>
		<div class="col-sm-6">
			
		</div>
	</div>
</div></a>