<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playmate - Edit <%= group.name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <!--============================================ FONTS ==========================================-->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins:400,500" rel="stylesheet">
    <!--============================================ Extras =========================================-->
    <% include partials/defaultLinks&Scripts %>
    <% include partials/specialStyles %>
</head>
<body>
	<% include partials/header %>
	<main>
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form action="/groups/<%= group._id %>?_method=PUT" method="POST" class="login100-form validate-form flex-sb flex-w">
					
                    <p class="txt1 m-t-20 col-md-12">Group Name</p>
                    <div class="wrap-input100 validate-input" data-validate="Group name is required">
                        <input class="input100" type="text" name="group[name]" value="<%= group.name %>">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Sport Type</p>
                    <div class="wrap-input100 validate-input" data-validate="Sport type is required">
                        <select class="input100" name="group[type]" size="1">
							<option value="Football" <% if(group.type == 'Football'){ %> selected <% } %> > Football </option>
							<option value="Basketball" <% if(group.type == 'Basketball'){ %> selected <% } %> > Basketball </option>
							<option value="Running" <% if(group.type == 'Running'){ %> selected <% } %> > Running </option>
							<option value="Swimming" <% if(group.type == 'Swimming'){ %> selected <% } %> > Swimming </option>
							<option value="TRX" <% if(group.type == 'TRX'){ %> selected <% } %> > TRX </option>
							<option value="Tennis" <% if(group.type == 'Tennis'){ %> selected <% } %> > Tennis </option>
							<option value="Bowling" <% if(group.type == 'Bowling'){ %> selected <% } %> > Bowling </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Weekly day Of Activity</p>
                    <div class="wrap-input100 validate-input" data-validate="Day of activity is required">
                        <select class="input100" name="group[day]" size="1">
							<option value="Sunday" <% if(group.dayOfActivity == 'Sunday'){ %> selected <% } %> > Sunday </option>
							<option value="Monday" <% if(group.dayOfActivity == 'Monday'){ %> selected <% } %> > Monday </option>
							<option value="Tuesday" <% if(group.dayOfActivity == 'Tuesday'){ %> selected <% } %> > Tuesday </option>
							<option value="Wednesday" <% if(group.dayOfActivity == 'Wednesday'){ %> selected <% } %> > Wednesday </option>
							<option value="Thursday" <% if(group.dayOfActivity == 'Thursday'){ %> selected <% } %> > Thursday </option>
							<option value="Friday" <% if(group.dayOfActivity == 'Friday'){ %> selected <% } %> > Friday </option>
							<option value="Saturday" <% if(group.dayOfActivity == 'Saturday'){ %> selected <% } %> > Saturday </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Weekly Time Of Activity</p>
                    <div class="wrap-input100 validate-input" data-validate="Time Of Event is required">
                        <input class="input100" type="time" name="group[time]" value="<%= group.timeOfActivity %>">
                        <span class="focus-input100"></span>
                    </div>
					
					
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Location</p>
                    <div class="wrap-input100 validate-input" data-validate="Location is required">
                        <select class="input100" name="group[location]" size="1">
							<option value="North" <% if(group.location == 'North'){ %> selected <% } %> > North </option>
							<option value="Haifa" <% if(group.location == 'Haifa'){ %> selected <% } %> > Haifa </option>
							<option value="Center" <% if(group.location == 'Center'){ %> selected <% } %> > Center </option>
							<option value="Tel Aviv" <% if(group.location == 'Tel Aviv'){ %> selected <% } %> > Tel Aviv </option>
							<option value="Jerusalem" <% if(group.location == 'Jerusalem'){ %> selected <% } %> > Jerusalem </option>
							<option value="South" <% if(group.location == 'South'){ %> selected <% } %> > South </option>
							<option value="Beer Sheva" <% if(group.location == 'Beer Sheva'){ %> selected <% } %> > Beer Sheva </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum number of participants are required">
                        <input class="input100" type="number" name="group[minParticipants]" value="<%= group.minParticipants %>">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Maximum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Maximum number of participants are required">
                        <input class="input100" type="number" name="group[maxParticipants]" value="<%= group.maxParticipants %>">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participant Level</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum level of participants are required">
                        <select class="input100" name="group[level]" size="1">
							<option value="Noob" <% if(group.level == 'Noob'){ %> selected <% } %> > Noob </option>
							<option value="Rookie" <% if(group.level == 'Rookie'){ %> selected <% } %> > Rookie </option>
							<option value="Intermediate" <% if(group.level == 'Intermediate'){ %> selected <% } %> > Intermediate </option>
							<option value="Advanced" <% if(group.level == 'Advanced'){ %> selected <% } %> > Advanced </option>
							<option value="Master" <% if(group.level == 'Master'){ %> selected <% } %> > Master </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="col-md-12 m-t-17">
                        <button class="login100-form-btn" type="submit">
							Edit Event
						</button>
                    </div>
                </form>
            </div>
        </div>
	</main>
</body>

</html>
