<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playmate - edit <%= event.name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <!--============================================ FONTS ==========================================-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins:400,500" rel="stylesheet">
    <!--============================================ Extras =========================================-->
    <% include partials/defaultLinks&Scripts %>
    <% include partials/specialStyles %>
</head>
<body>
	<% include partials/header %>
	<main>
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form action="/events/<%= event._id %>?_method=PUT" method="POST" class="login100-form validate-form flex-sb flex-w">
					
                    <p class="txt1 m-t-20 col-md-12">Event Name</p>
                    <div class="wrap-input100 validate-input" data-validate="Event name is required">
                        <input class="input100" type="text" name="event[name]" value="<%= event.name %>">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Sport Type</p>
                    <div class="wrap-input100 validate-input" data-validate="Sport type is required">
                        <select class="input100" name="event[type]" size="1">
							<option value="Football" <% if(event.sportType == 'Football'){ %> selected <% } %> > Football </option>
							<option value="Basketball" <% if(event.sportType == 'Basketball'){ %> selected <% } %> > Basketball </option>
							<option value="Running" <% if(event.sportType == 'Running'){ %> selected <% } %> > Running </option>
							<option value="Swimming" <% if(event.sportType == 'Swimming'){ %> selected <% } %> > Swimming </option>
							<option value="TRX" id='TRX' <% if(event.sportType == 'TRX'){ %> selected <% } %> > TRX </option>
							<option value="Tennis" <% if(event.sportType == 'Tennis'){ %> selected <% } %> > Tennis </option>
							<option value="Bowling" <% if(event.sportType == 'Bowling'){ %> selected <% } %> > Bowling </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Location</p>
                    <div class="wrap-input100 validate-input" data-validate="Location is required">
                        <select class="input100" value="<%= event.location %>" name="event[location]" size="1">
							<option value="North" <% if(event.location == 'North'){ %> selected <% } %> > North </option>
							<option value="Haifa" <% if(event.location == 'Haifa'){ %> selected <% } %> > Haifa </option>
							<option value="Center" <% if(event.location == 'Center'){ %> selected <% } %> > Center </option>
							<option value="Tel Aviv" <% if(event.location == 'Tel Aviv'){ %> selected <% } %> > Tel Aviv </option>
							<option value="Jerusalem" <% if(event.location == 'Jerusalem'){ %> selected <% } %> > Jerusalem </option>
							<option value="South" <% if(event.location == 'South'){ %> selected <% } %> > South </option>
							<option value="Beer Sheva" <% if(event.location == 'Beer Sheva'){ %> selected <% } %> > Beer Sheva </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Date Of Event</p>
                    <div class="wrap-input100 validate-input" data-validate="Date Of Event is required">
                        <input class="input100" type="date" value="<%= event.dateOfEvent %>" name="event[date]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Time Of Event</p>
                    <div class="wrap-input100 validate-input" data-validate="Time Of Event is required">
                        <input class="input100" type="time" value="<%= event.timeOfActivity %>" name="event[time]">
                        <span class="focus-input100"></span>
                    </div>
                    
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum number of participants are required">
                        <input class="input100" type="number" value="<%= event.minNumOfParticipants %>" name="event[minNumOfParticipants]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Maximum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Maximum number of participants are required">
                        <input class="input100" type="number" value="<%= event.maxNumOfParticipants %>" name="event[maxNumOfParticipants]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participant Level</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum level of participants are required">
                        <select class="input100" value="<%= event.minParticipantLevel %>" name="event[minLevel]" size="1">
							<option value="Noob" <% if(event.level == 'Noob'){ %> selected <% } %> > Noob </option>
							<option value="Rookie" <% if(event.level == 'Rookie'){ %> selected <% } %> > Rookie </option>
							<option value="Intermediate" <% if(event.level == 'Intermediate'){ %> selected <% } %> > Intermediate </option>
							<option value="Advanced" <% if(event.level == 'Advanced'){ %> selected <% } %> > Advanced </option>
							<option value="Master" <% if(event.level == 'Master'){ %> selected <% } %> > Master </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
                    <div class="col-md-12 m-t-17">
                        <button type="submit" class="login100-form-btn">
							Edit event
						</button>
                    </div>
                </form>
            </div>
        </div>
	</main>
	
<!--===============================================================================================-->
	<script src="/css/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/bootstrap/js/popper.js"></script>
	<script src="/css/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/daterangepicker/moment.min.js"></script>
	<script src="/css/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/css/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</body>

</html>
