<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playmate - edit <%= event.name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/css/images/icons/Playmate logo.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <!--============================================ FONTS ==========================================-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins:400,500" rel="stylesheet">
    <!--=============================================================================================-->
</head>
<body>
	<% include partials/header %>
	<main>
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form action="/events/<%= event._id %>?_method=PUT" method="POST" class="login100-form validate-form flex-sb flex-w">
					
                    <p class="txt1 m-t-20 col-md-12">Event Name</p>
                    <div class="wrap-input100 validate-input" data-validate="Event name is required">
                        <input class="input100" type="text" name="event[name]" value="<%= event.name %>">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Sport Type</p>
                    <div class="wrap-input100 validate-input" data-validate="Sport type is required">
                        <select class="input100" name="event[type]" size="1">
							<option value="Football" <% if(event.type == 'Football'){ %>selected<% } %> > Football </option>
							<option value="Basketball" <% if(event.type == 'Basketball'){ %>selected<% } %> > Basketball </option>
							<option value="Running" <% if(event.type == 'Running'){ %>selected<% } %> > Running </option>
							<option value="Swimming" <% if(event.type == 'Swimming'){ %>selected<% } %> > Swimming </option>
							<option value="TRX" <% if(event.type == 'TRX'){ %>selected<% } %> > TRX </option>
							<option value="Tennis" <% if(event.type == 'Tennis'){ %>selected<% } %> > Tennis </option>
							<option value="Bowling" <% if(event.type == 'Bowling'){ %>selected<% } %> > Bowling </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Location</p>
                    <div class="wrap-input100 validate-input" data-validate="Location is required">
                        <select class="input100" value="<%= event.location %>" name="event[location]" size="1">
							<option value="North"> North </option>
							<option value="Haifa"> Haifa </option>
							<option value="Center"> Center </option>
							<option value="Tel Aviv"> Tel Aviv </option>
							<option value="Jerusalem"> Jerusalem </option>
							<option value="South"> South </option>
							<option value="Beer Sheva"> Beer Sheva </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Date Of Event</p>
                    <div class="wrap-input100 validate-input" data-validate="Date Of Event is required">
                        <input class="input100" type="date" value="<%= event.dateOfEvent %>" name="event[date]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Time Of Event</p>
                    <div class="wrap-input100 validate-input" data-validate="Time Of Event is required">
                        <input class="input100" type="time" value="<%= event.timeOfActivity %>" name="event[time]">
                        <span class="focus-input100"></span>
                    </div>
                    
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum number of participants are required">
                        <input class="input100" type="number" value="<%= event.minNumOfParticipants %>" name="event[minNumOfParticipants]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Maximum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Maximum number of participants are required">
                        <input class="input100" type="number" value="<%= event.maxNumOfParticipants %>" name="event[maxNumOfParticipants]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participant Level</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum level of participants are required">
                        <select class="input100" value="<%= event.minParticipantLevel %>" name="event[minLevel]" size="1">
							<option value="Noob"> Noob </option>
							<option value="Rookie"> Rookie </option>
							<option value="Intermediate"> Intermediate </option>
							<option value="Advanced"> Advanced </option>
							<option value="Master"> Master </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
                    <div class="col-md-12 m-t-17">
                        <button type="submit" class="login100-form-btn">
							Edit event
						</button>
                    </div>
                </form>
            </div>
        </div>
	</main>
	
	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="css/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="css/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="css/bootstrap/js/popper.js"></script>
	<script src="css/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="css/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="css/daterangepicker/moment.min.js"></script>
	<script src="css/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="css/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</body>

</html>
