<!Doctype html>
<html>
    <head>
        <title><%= group.name %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/css/images/icons/Playmate logo.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/viewGroup.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/util.css">
		<!--============================================ Bootstrap Jquery ==========================================-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		<!--============================================ Scripts ==========================================-->
		<script>
		$(document).ready(function(){
		$("#details").hide();
		$("#map").hide();
		$("#events").hide();
		
		
		$("#map-show").click(function(){
			$("#details").hide();
			$("#events").hide();
			$("#map").toggle();
		});
		$("#details-show").click(function(){
			$("#map").hide();
			$("#events").hide();
			$("#details").toggle();
		});
		$("#events-show").click(function(){
			$("#map").hide();
			$("#details").hide();
			$("#events").toggle();
		});
		
		});
	</script>
	
    </head>
    <body class="profile-body">
		<% include partials/header %>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="side-box">
						<h2> Friends </h2>
							<% group.participants.forEach(function(profile){ %>
								<% include partials/profileViewCard %>
							<% }); %>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="user-profile">
							<div class="username"><%= group.name %></div>
						<div class="bio">
							<p>Sport Type: <%= group.type %></p>
							<p>Location: <%= group.location %></p>
							<p>Min level: <%= group.level %></p>
						<% if(!user._id.equals(group.participants[0]._id)){ %>
							<% if(user.groups.indexOf(group._id)==-1){ %>
								<form action="/group/toggle" method="POST">
									<input type="hidden" name="group" value="<%= group._id %>" >
									<input type="hidden" name="user" value="<%= user._id %>" >
									<input type="hidden" name="isAdded" value="0" >
									<button type="submit" class="join">Join group</button>
								</form>
							<% }else{ %>
								<form action="/group/toggle" method="POST">
									<input type="hidden" name="group" value="<%= group._id %>" >
									<input type="hidden" name="user" value="<%= user._id %>" >
									<input type="hidden" name="isAdded" value="1" >
									<button type="submit" class="join">Leave group</button>
								</form>
						<% } }else{ %>
								<% if(group.participants.length > 1){ %>
									<form action="/group/toggle" method="POST" class="dis-inline">
										<input type="hidden" name="group" value="<%= group._id %>" >
										<input type="hidden" name="user" value="<%= user._id %>" >
										<input type="hidden" name="isAdded" value="1" >
										<button type="submit" class="join">Leave group</button>
									</form>						
						     	<% } %>
						     	<form action="/groups/<%= group._id %>?_method=DELETE" method="POST" class="dis-inline">
						            <input type="submit" class="join" value="Delete">
					            </form>
						        <a href="/groups/<%= group._id %>/edit" class="join">Edit</a>
						<% } %>
						</div>
						<ul class="data">
							<li>
							  <button class="button" id="events-show">Events</button>
							</li>
							<li>
							  <button class="button" id="map-show">Map</button>
							</li>
							<li>
							  <button class="button" id="details-show">Details</button>
							</li>
						</ul>
						
						<div id="events" class="bottom-part">
							<div class="bottom-part-container">
					            <a href="/groups/<%= group._id %>/events/add" class="join">Add an event</a>
								<% if(group.events.length == 0){ %>
									<div class="bottom-card"><p>No events yet </p></div>
								<% }else{ %>
									<% group.events.forEach(function(event){ %>
									<a href="/events/<%= event._id %>"><div class="bottom-card"><p><%= event.name %></p></div></a>
								<% });} %> 
							</div>
						</div>
						
						<div id="map" class="bottom-part">
							<div class="bottom-part-container">
								
								<script>
									function initMap() {
										var uluru = { lat: -25.363, lng: 131.044 };
										var map = new google.maps.Map(document.getElementById('map'), {
											zoom: 4,
											center: uluru
										});
										var marker = new google.maps.Marker({
											position: uluru,
											map: map
										});
									}
								</script>
								<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9i6uRrNyvxAtRoEzx8TcnXsjwY_M3c_I&callback=initMap">
								</script>
								
							</div>
						</div>
					
						<div id="details" class="bottom-part">
							<div class="bottom-part-container">
								<!--<p>Group schedule: </p>-->
								<!--<p>Time of event:</p>-->
								<p>Admin: <%= group.participants[0].username %></p>
								<p>Minimum level to participate: <%= group.level %></p>
								<p>Minimum number of participants: <%= group.minParticipants %></p>
								<p>Maximum number of participants: <%= group.maxParticipants %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>