<!Doctype html>
<html>
    <head>
        <title><%= event.name %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/css/images/icons/Playmate-logo.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/viewEvent.css">
		<link rel="stylesheet" type="text/css" href="/css/util.css">
		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<!--============================================ Bootstrap Jquery ==========================================-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		<!--============================================ Scripts ==========================================-->
		<script>
			$(document).ready(function(){
				$("#details").hide();
				$("#map").hide();
				$("#posts").hide();
			
				$("#map-show").click(function(){
					$("#details").hide();
					$("#posts").hide();
					$("#map").toggle();
				});
				$("#details-show").click(function(){
					$("#map").hide();
					$("#posts").hide();
					$("#details").toggle();
				});
				$("#posts-show").click(function(){
					$("#map").hide();
					$("#details").hide();
					$("#posts").toggle();
				});
			});
		</script>
    </head>
    <body class="profile-body">
	<% include partials/header %>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="side-box">
						<h2> Members </h2>
						<% event.participants.forEach(function(profile){ %>
							<% include partials/profileViewCard %> 
						<% }); %>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="user-profile">
							<div class="username"><%= event.name %></div>
						<div class="bio text-left">
							<p>Event Date: <%= event.dateOfEvent %></p>
							<p>District: <%= event.district %></p>
							<p>Sport Type: <%= event.sportType %></p>
							<p>Min level: <%= event.level %> </p>
						<% if(!user._id.equals(event.participants[0]._id)){ %>
							<% if(user.events.indexOf(event._id)==-1){ %>
								<form action="/event/toggle" method="POST">
									<input type="hidden" name="event" value="<%= event._id %>" >
									<input type="hidden" name="user" value="<%= user._id %>" >
									<input type="hidden" name="isAdded" value="0" >
									<button type="submit" class="join">Join event</button>
								</form>
							<% }else{ %>
								<form action="/event/toggle" method="POST">
									<input type="hidden" name="event" value="<%= event._id %>" >
									<input type="hidden" name="user" value="<%= user._id %>" >
									<input type="hidden" name="isAdded" value="1" >
									<button type="submit" class="join">Leave event</button>
								</form>
						<% } } else{%>
								<% if(event.participants.length > 1){ %>
									<form action="/event/toggle" method="POST" class="dis-inline">
										<input type="hidden" name="event" value="<%= event._id %>" >
										<input type="hidden" name="user" value="<%= user._id %>" >
										<input type="hidden" name="isAdded" value="1" >
										<button type="submit" class="join">Leave event</button>
									</form>						
						     	<% } %>				
						     	<form action="/events/<%= event._id %>?_method=DELETE" method="POST" class="dis-inline">
						            <input type="submit" class="join" value="Delete">
					            </form>
						        <a href="/events/<%= event._id %>/edit" class="join">Edit</a>
						<% } %>						
						</div>
						<div class="w-full">
							<ul class="data">
								<li>
								  <button class="button" id="map-show">Map</button>
								</li>
								<li>
								  <button class="button" id="details-show">Details</button>
								</li>
								<li>
								  <button class="button" id="posts-show">Posts</button>
								</li>
							</ul>
						</div>
						<% if(event.location != undefined){ %>
							<div id="map" class="bottom-part">
								<div class="bottom-part-container w-full">
									<iframe
										width="100%"
										height="450"
										frameborder="0" style="border:0"
										src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBU_bnBk2hij8xfyxUqxMsTDIoegx48EDs
									    &q=<%= event.location.replace(' ','+') %>" allowfullscreen>
									</iframe>
								</div>
							</div>
						<% } %>
						<div id="details" class="bottom-part">
							<div class="bottom-part-container">
								<p>Admin: <%= event.participants[0].username %></p>
								<p>From: <%= event.timeOfActivity.startTime %> To: <%= event.timeOfActivity.endTime %></p>
								<p>Minimum number of participants: <%= event.minNumOfParticipants %></p>
								<p>Maximum number of participants: <%= event.maxNumOfParticipants %></p>
								<form action="/syncToCalendar" method="POST">
									<input type="hidden" name="event" value="<%= event._id %>" >
									<input type="hidden" name="user" value="<%= user._id %>" >
									<button type="submit" class="join">Sync to Google calendar</button>
								</form>
							</div>
						</div>
						
						<div id="posts" class="bottom-part">
							<div class="bottom-part-container w-full">
								<div class="scroll col-sm-12">
									<div class="force-overflow"></div>
									<% var messages = event.messages.reverse(); %>
									<% messages.forEach(function(message){ %>
										<% if(message.name == user.username){ %>
											<% include partials/myMessage %>
										<% }else{ %>
											<% include partials/message %>
									<% } }) %>
								</div>
								<div class="container">
									<div class="col-sm-12">
										<div class="enterMessageBox" style="padding-bottom:0">
								            <form accept-charset="UTF-8" action="/events/<%=event._id%>/messages/add" method="POST">
								                <textarea class="span4" id="new_message" name="content"
								                placeholder="Type in your message" rows="3"></textarea>
								                <button class="btn btn-info" type="submit">Post New Message</button>
								            </form>
								        </div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
    </body>
</html>